/* *{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  background:#e6e4e2;
}

/* Main container */
.blog-container{
  display:flex;
  gap:40px;
  padding:40px;
  justify-content:center;
  align-items:stretch;   /* equal height columns */
}

/* Each column */
.blog-column{
  background:white;
  padding:30px;
  width:220px;
  box-shadow:0 0 5px rgba(0,0,0,0.3);

  display:flex;
  flex-direction:column;
  text-align:center;
}

/* Title */
.blog-column h2{
  margin-bottom:20px;
}

/* Remove bullets */
.blog-column ul{
  list-style:none;
  padding:0;
}

/* Article spacing */
.blog-column li{
  margin:10px 0;
}
